html{
    scroll-behavior: smooth;
}
button[ id= "servicios" ]:target ~ #category div.row {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}
@media screen and (max-width: 770px){
    .intro-heading, .intro-lead-in{
        color: #b3b3b3 !important;
        line-height: 30px;
        margin-bottom: 50px !important;
    }
    .intro-text{
        font-family: 'PT Sans', sans-serif;
    }
    .enjoy-css1{
        color: #ECC731 !important;
        border: 4px solid #ECC731 !important;
    }
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

@media screen and (max-width: 500px) {
    #list{
            color: black;

    }

    #social-icon{
        display: none;
    }

    .logo{
        margin-left: 20px;
    }

}

@media screen and (min-width:600px){

    #nav-team{
        padding-right: 0px !important;
    }

    section{
        width: 100%;
    }
}

@media screen and (min-width:800px){

    #nav-team{
        padding-right: 130px !important;
    }

}

@media screen and (min-width: 1025px){
    #nav-team{
        padding-right: 130px !important;
    }

}


@media (min-aspect-ratio: 16/9) {
  #carousel-img {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #carousel-img {
    width: 300%;
    left: -100%;
  }
}
/** Header **/

header {
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-text {
    padding-top: 13em;
    padding-bottom: 3.125em;
    text-align: center;
}

.intro-text .intro-lead-in {
    text-transform: uppercase;
    margin-bottom: 500%;
    color: white;
}

.intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    color: white;
}

.intro-lead-in>.color {
    color: #fcac45;
    font-style: bold;
    font-weight: bold;
    font-size: 1.4em;
}

.intro-heading>.color {
    color: #fcac45;
    font-style: bold;
    font-weight: 700;
    font-size: 1.5em;
}

@media(min-width:768px) {
    .intro-text .intro-heading {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
        font-size: 35px;
        line-height: 75px;
    }

    .intro-text {
        padding-top: 15.625em;
    }

    .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 25px;
        font-family: 'PT Sans', sans-serif;
        line-height: 40px;
    }
}

/** Header End **/
#header_lg{
    position: relative;
    height: 60px;
}

.logo
a{
        text-decoration: none;
}

#x{
    font-size: 3em;
    color: #ECC731;
    font-family: 'Shadows Into Light', cursive;
    margin-left: -25px;
    margin-top: 15px;
}

#y{
    margin: 10px 0px 10px 0px;

}

.menu {
    clear: none;
    float: left;
}

.menu ul{
    list-style-type: none;
    padding-top: 5px;
}

.navbar-custom{
    opacity: 0.9;

}

.menu {
    font-size: 1.3em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.menu
a {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
    border: none;
    display: block;
    color: #eee;
    background-color: #231F20;
    text-decoration: none;
    padding-top: 25px !important;
}

.menu
a:hover{
    color: #313131;
    background-color: #ECC731 !important;
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) inset;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) inset;
}

.menu
a.active {
    background-color: #313131;
    color: black;
}

.icon
img{

    margin: 50px 10px 10px 0px;
}

#nav-team{
    padding-right: 130px;
}

#social-icon{
    color: white;
    font-size: 1.5em;
    padding-left: 15px;
    padding-top: 25px;
}

.fa:hover{
    color: #ECC731 !important;
}

.button{
    background-color: #e6b800;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
}
}
.button:hover{
    background-color: #cca300;
}

.button:active{
    background-color: #cca300;
    -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.5) inset;
}

.about{
    background-color: white;
}

#intro{
    color: #737373;
    text-align: center;
    font-size: 24px;
    line-height: 37px;
    font-family: Proxima Nova Thin, sans-serif;
    padding-top: 40px;
}

#intro-heading{
    color: #404040;
    text-align: center;
    font-size: 36px;
    line-height: 37px;
    font-family: Proxima Nova Thin, sans-serif;
    margin-bottom: 40px;
    font-weight: 700;
}

@media (min-width: 48em)
.about {
    padding-left: 20px;
    padding-right: 20px;
}
.about{
    margin-top: 60px;
    padding-bottom: 60px;
}

.works{
    background-color: #ECC731;
    padding-bottom: 80px;


}

.works a{
    text-decoration: none;
}

#three-title{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 46px 0px 43px 0px;
    font-size: 48px;
}

#intro{
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 24px;
        color: #737373;
        font-weight: 600;
}

#column{
    margin-right: 30px;
}

.image-container{
    display: table;
    width: 100%;
    padding: 23px 0px;
}

.image{
    height: 150px;
    vertical-align: bottom;
    display: table-cell;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    background: transparent;
}

.text-container{
    font-family: 'Arsenal', sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
}

#work-head{
    font-weight: 700;
    margin-bottom: 20px;
}

#work-text{
    height: 200%;
    font-family: 'Arsenal', sans-serif;
    font-weight: 100;
}

.enjoy-css2 {
  display: inline-block;
  font-family: 'Arsenal', sans-serif ;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  font: normal bold 16px/30px 'Arsenal', sans-serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ECC731;
  border: 1px solid black;
  margin-bottom: 120px;
  text-decoration: none;
}

.enjoy-css2:hover {
  background: black;
}

.enjoy-css2 a{
    color: black;
}

.enjoy-css2 a:hover{
    color: #ECC731;
}

.recent-endeavours{
    font-family: 'Arsenal', sans-serif;
    padding-bottom: 60px;
    background-color: white;
    opacity: 0.95;
}

#recent-heading{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    padding: 46px 0px 43px 0px;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.recent-work-para a{
    text-decoration: none;
}

.recent-work-img{
    width: 400px;
    height: 250px;
    padding-left: 20px;
    margin-top: 60px;
}

.recent-work-para{
    margin-top: 60px;
    padding-top: 5px;
    font-size: 20px;
    color: #737373;
    line-height: 28px;
    padding-right: 40px;
    padding-left: 60px;
}

#rwi{
    padding-left: 25px;
    padding-right: 20px;
}

.recent-work-para h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: #4d4d4d;
    font-weight: 700;
}

.recent-work-para #blog-date{
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #BBBBBB;
}

@media screen and (max-width: 500px){

    #rwi{
        display: none;
    }

    .recent-work-img{
        width: 260px !important;
        padding-left: 0px !important;
        margin: auto !important;
        display: block !important;
        margin-top: 50px !important;

    }

    .enjoy-css1{
        display: block !important;
        margin:auto !important;
    }

    #recent-heading{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media screen and (min-width: 600px){
    .recent-work-img{
        width: 280px !important;
    }
}

@media screen and (min-width:800px){

    .recent-work-img{
        width: 400px !important;
    }

}

.volunteering{

}

#volunteering-head{
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 20px;
}

#volunteering-short-head{
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.ibutton{
    background-color: #ECC731;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    width: 150px;
    height: 50px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.ibutton:hover{
    background-color: #cca300;
}

.ibutton:active{
    background-color: #cca300;
    -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,0.5) inset;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,0.5) inset;
}

#footer{
    padding: 30px;
    background-color:#262626;
    color:#bfbfbf;
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 60px;
}

#copyright{
    margin-top: 10px;
    font-size: 20px;
}

.contact{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    float: right;
}

@media screen and (max-width: 500px){
    #footer-logo{
        display: block;
        margin:auto;
        margin-bottom: 15px;
    }
    #copyright{
        margin:auto;
        width: 280px;
        margin-bottom: 15px;
    }
    #phone,#mail{
        display: block;
        margin:auto;
        width: 250px;
    }

}

.enjoy-css1 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  top: 0;
  padding: 0 22px;
  font: normal normal bold 16px/50px Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: transparent;
  margin-left: 40%;
  border: 4px solid white;
  margin-bottom: 120px !important;

}

.enjoy-css1:hover {
  color: #FFAE00;
  border: 4px solid #FFAE00;
}